<!-- hallinta.ejs -->
<div class="w-100 flex justify-content-center align-items-center" id="hallinta">
    <div class="d-flex justify-content-around flex-nowrap p-0">
        <!-- Kirjaudu palveluun painike -->
        <%-(!onLogPage)?'<a id="" href="/'+dict.translate("urls.kayttajat")+'/'+dict.translate("urls.kirjautuminen")+'/'+addToUrl+'">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Logout symboli  -->
        <svg class="symboli <%-(login!=null)?"":"hidden"%>" id="logout" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m30 4.5762-25 5.3867v35.076l25-5.3867v-10.064l-3.5801 0.83984v5.9316l-17.84 3.8438v-26.947l17.84-3.8437v5.5898l3.5801-0.8418v-9.584zm2.3281 11.693c-0.30694-0.0063-0.45983 0.41192-0.23633 0.64648 0.64734 0.68203 1.1419 1.4822 1.5117 2.3379l-14.768 3.1816v4.0664l15.451-3.3301c-0.05782 0.93868-0.25424 1.874-0.63086 2.7578-0.14133 0.33564 0.19439 0.67136 0.47852 0.47852l10.703-7.2031c0.2671-0.17983 0.18878-0.63305-0.11914-0.68945l-12.342-2.2402c-0.01613-0.0033-0.032448-0.00516-0.048828-0.00586z" fill="#f2f2f2"/>
        </svg>
        <!-- Login symboli -->
        <svg class="symboli <%-(login!=null)?"hidden":""%>" id="login" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m45 4.5762-25 5.3867v10.064l3.5801-0.83984v-5.9316l17.84-3.8437v26.947l-17.84 3.8438v-5.5898l-3.5801 0.8418v9.584l25-5.3867v-35.076zm-26.508 18.537c-0.30694-0.0063-0.45983 0.41192-0.23633 0.64648 0.64734 0.68203 1.1419 1.4822 1.5117 2.3379l-14.768 3.1816v4.0664l15.451-3.3301c-0.05782 0.93868-0.25424 1.874-0.63086 2.7578-0.14133 0.33564 0.19439 0.67136 0.47852 0.47852l10.703-7.2031c0.2671-0.17983 0.18878-0.63305-0.11914-0.68945l-12.342-2.2402c-0.016139-0.0033-0.032467-0.005178-0.048828-0.00586z" fill="#f2f2f2"/>
        </svg>

        <span><%-(login==null)?dict.translate("hallinta.sisaan"):dict.translate("hallinta.ulos")%></span><%-(!onLogPage)?'</a>':'</span>'%>

        <!-- Luo uusi käyttäjätunnus painike -->
        <%-(!onSignPage && login==null)?'<a id="" href="/'+dict.translate("urls.kayttajat")+'/'+dict.translate("urls.rekisteroityminen")+'/'+addToUrl+'">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Login symboli -->
        <svg class="symboli" id="login" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m45 4.5762-25 5.3867v10.064l3.5801-0.83984v-5.9316l17.84-3.8437v26.947l-17.84 3.8438v-5.5898l-3.5801 0.8418v9.584l25-5.3867v-35.076zm-26.508 18.537c-0.30694-0.0063-0.45983 0.41192-0.23633 0.64648 0.64734 0.68203 1.1419 1.4822 1.5117 2.3379l-14.768 3.1816v4.0664l15.451-3.3301c-0.05782 0.93868-0.25424 1.874-0.63086 2.7578-0.14133 0.33564 0.19439 0.67136 0.47852 0.47852l10.703-7.2031c0.2671-0.17983 0.18878-0.63305-0.11914-0.68945l-12.342-2.2402c-0.016139-0.0033-0.032467-0.005178-0.048828-0.00586z" fill="#f2f2f2"/>
        </svg>

        <span><%= dict.translate("hallinta.uusiTili")%></span><%-(!onSignPage && login==null)?'</a>':'</span>'%>

        <!-- Uusi viesti -painike -->
        <%-(login!=null)?'<a id="p_viesti" href="/'+dict.translate("urls.uusi_viesti")+'/'+addToUrl+((topikki != "")?"/?topic="+topikki:"")+'">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli" id="uusiviesti" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" d="m11.886 1.9601-2.0123 0.060978-2.1136-0.043925c-0.011441 0.034314-0.017053 0.076684-0.017053 0.12816 0 0.051472 0.00562 0.09794 0.017053 0.13798 0.25165 0 1.441 0.026764 1.5725 0.043925 0.097228 0.011438 0.14624 0.65472 0.14624 1.9301v1.927h-0.77515c-0.034316 0.16014-0.07107 0.29696-0.1111 0.41134 0 0.062911 0.025525 0.10631 0.076998 0.12919 0.25607-0.040432 0.52848-0.060573 0.80925-0.069246v1.4366c0 1.0009-0.034209 1.7243-0.10284 2.1704-0.011438 0.10866-0.026249 0.18882-0.043408 0.24029-0.017161 0.05148-0.051362 0.11172-0.10284 0.18035-0.085789 0.10867-1.1155 0.33128-1.4872 0.41134l-0.00878 0.06873c0 0.06863 0.014294 0.11713 0.042891 0.14573 0.38319-0.04575 1.6763-0.19689 2.2769-0.19689l1.834 0.0987c0.01148-0.03432 0.01705-0.07721 0.01705-0.12867 0-0.05148-0.0056-0.09742-0.01705-0.13746-0.35459 0-1.3509-0.08154-1.4996-0.0987-0.04003-0.0057-0.07423-0.25742-0.10284-0.75499-0.02288-0.49758-0.03411-1.0178-0.03411-1.5611v-1.8826h0.68368c0.03431-0.16014 0.07159-0.29748 0.11162-0.41186 0-0.062911-0.02605-0.1058-0.07751-0.12867-0.2283 0.036048-0.46985 0.054826-0.71779 0.065629v-1.9151c0-1.2754 0.0485-1.9187 0.14573-1.9301 0.13154-0.017158 1.2377-0.061495 1.4893-0.061495l0.01705-0.13746c0-0.051474-0.0056-0.093843-0.01705-0.12816zm-7.1825 1.373-2.1193 4.8044c-0.26881 0.60624-0.47149 0.99528-0.60875 1.1669-0.13154 0.17158-0.34342 0.29716-0.6351 0.37724l-0.017053 0.06873c0 0.057194 0.017361 0.10569 0.051676 0.14573 0.26881-0.045753 0.5833-0.06873 0.94361-0.06873l0.90899 0.025839c0.011438-0.034315 0.01757-0.077201 0.01757-0.12867 0-0.051475-0.00613-0.097426-0.01757-0.13746-0.26881 0-0.46894-0.00253-0.60048-0.00827 0-0.2974 0.14295-0.8008 0.42891-1.51l0.21446-0.5488 1.2268-0.025838c0.42894 0 0.79807 0.00868 1.1069 0.025838l0.50591 1.2867c0.08007 0.24021 0.12041 0.4 0.12041 0.48007 0 0.08007-0.045951 0.15461-0.13746 0.22324-0.085789 0.062912-0.23997 0.12009-0.46302 0.17157l-0.017053 0.06873c0 0.051474 0.016844 0.099974 0.05116 0.14573 0.326-0.045753 0.70635-0.06873 1.141-0.06873l1.0036 0.025839c0.017158-0.034315 0.025838-0.077201 0.025838-0.12867 0-0.051475-0.00868-0.097426-0.025838-0.13746-0.13726 0-0.28583-0.00816-0.44597-0.025321-0.040035-0.057194-0.13449-0.24048-0.28319-0.54932-0.14298-0.31456-0.2313-0.52592-0.26562-0.63459l-1.9735-5.0447zm-0.20619 1.2356 0.99529 2.6252c-0.2688 0.017158-0.60066 0.025838-0.99529 0.025838l-1.0981-0.034623z" fill="#f2f2f2"/>
        </svg>

        <span><%= (topikki=="")?dict.translate("hallinta.uusiKeskustelu"):dict.translate("hallinta.jatkaKeskustelua") %></span><%-(login!=null)?'</a>':'</span>'%>

        <!-- Omat viestit -painike -->
        <%-(login!=null)?'<a id="p_omat" href="/'+dict.translate("urls.omat")+'/'+addToUrl+'">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli" id="viestit" width="50" height="50" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" d="m488 111.687h-56v-24a8 8 0 0 0 -8-8h-187.056l-13.789-27.575a8 8 0 0 0 -7.155-4.422h-112a8 8 0 0 0 -7.155 4.421l-13.789 27.573h-59.056a8 8 0 0 0 -8 8v336a40.046 40.046 0 0 0 40 40h400a40.046 40.046 0 0 0 40-40v-304a8 8 0 0 0 -8-7.997zm-456 312v-328h56a8 8 0 0 0 7.155-4.422l13.789-27.575h102.112l13.789 27.575a8 8 0 0 0 7.155 4.422h184v16h-192a8 8 0 0 0 -7.589 5.47l-3.51 10.53h-156.901a8 8 0 0 0 -8 8v310.623a24.038 24.038 0 0 1 -16-22.623zm48-256v256a24.038 24.038 0 0 1 -16 22.623v-302.623h143.568l-5.334 16h-114.234a8 8 0 0 0 -8 8.002zm400 256a24.027 24.027 0 0 1 -24 24h-368.019a39.794 39.794 0 0 0 8.019-24v-248h112a8 8 0 0 0 7.589-5.47l14.177-42.532h250.234z" fill="#f2f2f2"/>
        </svg>
        <span><%= dict.translate("hallinta.omat") %></span><%-(login!=null)?'</a>':'</span>'%>

        <!-- Uusin vai vanhin ensin painike -->
        <%-(p_uusin)?'<a id="p_uusin" href="'+currUrl+addToUrl+urlSuffix+'h_uusin=' + (!h_uusin)+'"':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- UUsin ylinnä symboli --> 
        <svg class="symboli <%-(h_uusin)?"hidden":''%>" id="uusin_ylinna" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m4.9961 5v24.123h40.023v-0.99609-23.127h-40.023zm21.432 6.0625 0.22461 0.23047c-0.6185 1.3966-1.0216 2.9559-1.209 4.6777l3.7949-2.2383c0.50604 0.68872 0.95602 1.1861 1.3496 1.4922l-0.083985 0.31445c-1.7055 0.21044-3.2431 0.63235-4.6113 1.2637l3.7969 2.2949c-0.31862 0.68872-0.53403 1.3288-0.64648 1.9219l-0.25391 0.058594c-0.9746-1.3392-2.09-2.497-3.3457-3.4727v4.4766c-0.76843 0.09566-1.4061 0.24854-1.9121 0.45898l-0.22461-0.22852c0.56227-1.2818 0.97394-2.8513 1.2363-4.707l-3.8223 2.1816c-0.44981-0.65045-0.88064-1.1478-1.293-1.4922 0-0.13392 0.019163-0.23988 0.056641-0.31641 1.4806-0.13392 2.9971-0.51712 4.5527-1.1484l-3.7656-2.209c0.24365-0.59306 0.42935-1.2332 0.56055-1.9219l0.31055-0.11524c0.91837 1.3009 2.0423 2.4384 3.373 3.4141v-4.4766c0.76843-0.095648 1.4061-0.24854 1.9121-0.45898zm-21.428 20.898v2.4551h0.99805 17.855v-1.2285h1.9941v1.2285h18.174 0.99609v-2.4551h-0.99609-38.023-0.99805zm0 5.293v2.4551h0.99805 14.814l-0.88477-1.5312h3.9258v-0.92383h-17.855-0.99805zm20.848 0v0.92383h3.9258l-0.88477 1.5312h15.133 0.99609v-2.4551h-0.99609-18.174zm-20.848 5.291v2.4551h0.99805 17.871l-1.418-2.4551h-16.453-0.99805zm22.252 0-1.416 2.4551h18.186 0.99609v-2.4551h-0.99609-16.77z" color="#000000" color-rendering="auto" dominant-baseline="auto" fill="#f2f2f2" image-rendering="auto" shape-rendering="auto" solid-color="#000000" stop-color="#000000" />
            <path id="kuvio2" d="m2.0402 1.9725 3.3822 1.727c0.035502-0.1085 0.066663-0.22016 0.0894-0.33951l0.082166-0.030489c0.24299 0.3442 0.54037 0.64516 0.89245 0.9033v-1.1844c0.20331-0.025307 0.37202-0.065761 0.50591-0.12144l0.059428 0.060978c-0.16364 0.36951-0.27029 0.78209-0.31988 1.2377l1.0041-0.59221c0.034858 0.047442 0.06586 0.081893 0.098702 0.12247l3.4923-1.7834z" color="#000000" color-rendering="auto" dominant-baseline="auto" fill="#d7d7d9" image-rendering="auto" shape-rendering="auto" solid-color="#000000" stop-color="#000000"/>
        </svg>

        <!-- Vanhin ylinnä -->
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli <%-(!h_uusin)?"hidden":''%>" id="uusin_alinna" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g>
                <path id="kuvio" transform="scale(.26458)" d="m5 5v2.4551h0.99805 17.855v-1.2285h1.9941v1.2285h18.174 0.99609v-2.4551h-0.99609-38.023-0.99805zm0 5.293v2.4551h0.99805 14.814l-0.88477-1.5312h3.9258v-0.92383h-17.855-0.99805zm20.848 0v0.92383h3.9258l-0.88477 1.5312h15.133 0.99609v-2.4551h-0.99609-18.174zm-20.848 5.291v2.4551h0.99805 17.871l-1.418-2.4551h-16.453-0.99805zm22.252 0-1.416 2.4551h18.186 0.99609v-2.4551h-0.99609-16.77zm-22.256 5.293v24.123h40.023v-0.99609-23.127h-40.023zm21.432 6.0625 0.22461 0.23047c-0.6185 1.3966-1.0216 2.9559-1.209 4.6777l3.7949-2.2383c0.50604 0.68872 0.95602 1.1861 1.3496 1.4922l-0.083985 0.31445c-1.7055 0.21044-3.2431 0.63235-4.6113 1.2637l3.7969 2.2949c-0.31862 0.68872-0.53403 1.3288-0.64648 1.9219l-0.25391 0.058594c-0.9746-1.3392-2.09-2.497-3.3457-3.4727v4.4766c-0.76843 0.095655-1.4061 0.24854-1.9121 0.45898l-0.22461-0.22852c0.56227-1.2818 0.97394-2.8513 1.2363-4.707l-3.8223 2.1816c-0.44981-0.65045-0.88064-1.1478-1.293-1.4922 0-0.13392 0.019156-0.23988 0.056641-0.31641 1.4806-0.13392 2.9971-0.51712 4.5527-1.1484l-3.7656-2.209c0.24365-0.59306 0.42935-1.2332 0.56055-1.9219l0.31055-0.11523c0.91837 1.3009 2.0423 2.4384 3.373 3.4141v-4.4766c0.76843-0.095655 1.4061-0.24854 1.9121-0.45898z" fill="#f2f2f2"/>
                <path id="kuvio2" transform="scale(.26458)" d="m7.7109 23.332 12.783 6.5273c0.13418-0.41007 0.25196-0.83209 0.33789-1.2832l0.31055-0.11523c0.91837 1.3009 2.0423 2.4384 3.373 3.4141v-4.4766c0.76843-0.095655 1.4061-0.24854 1.9121-0.45898l0.22461 0.23047c-0.6185 1.3966-1.0216 2.9559-1.209 4.6777l3.7949-2.2383c0.13175 0.17931 0.24892 0.30952 0.37305 0.46289l13.199-6.7402h-35.1z" color="#000000" color-rendering="auto" dominant-baseline="auto" fill="#d7d7d9" image-rendering="auto" shape-rendering="auto" solid-color="#000000" stop-color="#000000" />
            </g>
        </svg>

        <span id="ensin_teksti"><%- (h_uusin)?dict.translate("hallinta.vanhinEnsin"):dict.translate("hallinta.uusinEnsin") %></span><%-(p_uusin)?'</a>':'</span>'%>

        <!-- Tietoa ruotijoista -painike -->
        <%-(p_tietoa)? '<a id="p_tietoa" href="/'+dict.translate("urls.tietoa")+'/'+addToUrl+'">': '<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli" id="tietoa" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" d="m8.2284 11.837-1.2467-0.04156q-0.96968 0-1.8285 0.11082-0.083115-0.11082-0.083115-0.23549l0.027705-0.11082q0.59566-0.13852 0.80344-0.42943 0.15238-0.22164 0.23549-0.5264 0.083115-0.31861 0.083115-1.8008v-1.3298q0-0.85886-0.083115-1.1913-0.069262-0.33246-0.22164-0.44328-0.15238-0.11082-0.40172-0.13852l-0.51254-0.041554q-0.041557-0.05541-0.041557-0.18008l0.041557-0.18008q0.72033-0.15238 1.1636-0.30476 0.45713-0.16623 1.0666-0.47098 0.15238 0 0.20779 0.16623-0.16623 0.94197-0.16623 4.4882 0 0.63722 0.041557 1.413 0.05541 0.76189 0.13852 0.77574 0.20779 0.04156 0.77574 0.04156 0.041557 0.09697 0.041557 0.22164 0 0.12467-0.041557 0.20779zm-1.3021-8.8933q-0.49869-0.34631-0.70648-0.91426 0.16623-0.19394 0.44328-0.40172 0.2909-0.22164 0.49869-0.30476 0.5264 0.38787 0.67877 0.92812-0.38787 0.49869-0.91426 0.69262z" fill="#f2f2f2"/>
        </svg>
        <span><% dict.translate("hallinta.tietoa") %></span><%-(p_tietoa)?'</a>':'</span>'%>

        <!-- Vaihda kieltä painikkeet -->
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= dict.translate("hallinta.kieliValinta")%>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% for (const [key,value] of Object.entries(dict.dicts)) {%>
                        <a class="dropdown-item" id="<%=key%>" href="<%=currUrl+key+'/'+urlSuffix%>"><span><%=value.common.kielella%></span></a>
                <%    }  %>
            </div>
        </div>
    </div>
</div>