<!-- hallinta.ejs -->
<div class="w-100 flex justify-content-center align-items-center" id="hallinta">
    <div class="d-flex justify-content-around flex-nowrap p-0">
        <script>
            /* Uusin - vanhin viesti painike */
            /* Ratkaistava - Miten tieto lähetetään sivunvaihdon yhteydessä node.js:lle? */
            /*
            function uusVanha(){
                var url = window.location.href;    
                if (url.indexOf('?') > -1){
                    url += '&param=1'
                }else{
                    url += '?param=1'
                }
                window.location.href = url;

                if (window.h_uusin) {
                    window.h_uusin=false;
                    document.getElementById("ensin_teksti").innerHTML = "Vanhin viesti ensin";
                    document.getElementById("uusin_alinna").classList.remove('hidden');
                    document.getElementById("uusin_ylinna").classList.add('hidden');
                    document.getElementById("p_uusin").href = '?h_uusin=true';
                } else {
                    window.h_uusin=true;
                    document.getElementById("ensin_teksti").innerHTML = "Uusin viesti ensin";                    
                    document.getElementById("uusin_ylinna").classList.remove('hidden');
                    document.getElementById("uusin_alinna").classList.add('hidden');

                    document.getElementById("p_uusin").href= '?h_uusin=false';
                }
            }
             Tiivistä -painike 
            function laajaTiivis(){
                if(window.h_tiivis) {
                    window.h_tiivis=false;
                    document.getElementById("tiivis_teksti").innerHTML = "Laajenna viestit";
                    document.getElementById("laajenna").classList.remove('hidden');
                    document.getElementById("tiivista").classList.add('hidden');
                } else {
                    window.h_tiivis=true;
                    document.getElementById("tiivis_teksti").innerHTML = "Tiivistä viestit";
                    document.getElementById("tiivista").classList.remove('hidden');
                    document.getElementById("laajenna").classList.add('hidden');
                }
            }*/
        </script>
        <!-- Kirjaudu palveluun painike -->
        <%-(!onLogPage)?'<a id="" href="/kayttajat/kirjautuminen">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Logout symboli  -->
        <svg class="symboli <%-(login!=null)?"":"hidden"%>" id="logout" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m30 4.5762-25 5.3867v35.076l25-5.3867v-10.064l-3.5801 0.83984v5.9316l-17.84 3.8438v-26.947l17.84-3.8437v5.5898l3.5801-0.8418v-9.584zm2.3281 11.693c-0.30694-0.0063-0.45983 0.41192-0.23633 0.64648 0.64734 0.68203 1.1419 1.4822 1.5117 2.3379l-14.768 3.1816v4.0664l15.451-3.3301c-0.05782 0.93868-0.25424 1.874-0.63086 2.7578-0.14133 0.33564 0.19439 0.67136 0.47852 0.47852l10.703-7.2031c0.2671-0.17983 0.18878-0.63305-0.11914-0.68945l-12.342-2.2402c-0.01613-0.0033-0.032448-0.00516-0.048828-0.00586z" fill="#f2f2f2"/>
        </svg>
        <!-- Login symboli -->
        <svg class="symboli <%-(login!=null)?"hidden":""%>" id="login" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m45 4.5762-25 5.3867v10.064l3.5801-0.83984v-5.9316l17.84-3.8437v26.947l-17.84 3.8438v-5.5898l-3.5801 0.8418v9.584l25-5.3867v-35.076zm-26.508 18.537c-0.30694-0.0063-0.45983 0.41192-0.23633 0.64648 0.64734 0.68203 1.1419 1.4822 1.5117 2.3379l-14.768 3.1816v4.0664l15.451-3.3301c-0.05782 0.93868-0.25424 1.874-0.63086 2.7578-0.14133 0.33564 0.19439 0.67136 0.47852 0.47852l10.703-7.2031c0.2671-0.17983 0.18878-0.63305-0.11914-0.68945l-12.342-2.2402c-0.016139-0.0033-0.032467-0.005178-0.048828-0.00586z" fill="#f2f2f2"/>
        </svg>

        <span>Kirjaudu <%-(login==null)?"Sisään":"Ulos"%></span><%-(!onLogPage)?'</a>':'</span>'%>
        
        <!-- Luo uusi käyttäjätunnus painike -->
        <%-(!onSignPage)?'<a id="" href="/kayttajat/rekisteroityminen">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- Logout symboli  -->
        <svg class="symboli <%-(login==null)?"":"hidden"%>" id="logout" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m30 4.5762-25 5.3867v35.076l25-5.3867v-10.064l-3.5801 0.83984v5.9316l-17.84 3.8438v-26.947l17.84-3.8437v5.5898l3.5801-0.8418v-9.584zm2.3281 11.693c-0.30694-0.0063-0.45983 0.41192-0.23633 0.64648 0.64734 0.68203 1.1419 1.4822 1.5117 2.3379l-14.768 3.1816v4.0664l15.451-3.3301c-0.05782 0.93868-0.25424 1.874-0.63086 2.7578-0.14133 0.33564 0.19439 0.67136 0.47852 0.47852l10.703-7.2031c0.2671-0.17983 0.18878-0.63305-0.11914-0.68945l-12.342-2.2402c-0.01613-0.0033-0.032448-0.00516-0.048828-0.00586z" fill="#f2f2f2"/>
        </svg>
        <!-- Logoin symboli -->
        <svg class="symboli <%-(login==null)?"hidden":""%>" id="login" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m45 4.5762-25 5.3867v10.064l3.5801-0.83984v-5.9316l17.84-3.8437v26.947l-17.84 3.8438v-5.5898l-3.5801 0.8418v9.584l25-5.3867v-35.076zm-26.508 18.537c-0.30694-0.0063-0.45983 0.41192-0.23633 0.64648 0.64734 0.68203 1.1419 1.4822 1.5117 2.3379l-14.768 3.1816v4.0664l15.451-3.3301c-0.05782 0.93868-0.25424 1.874-0.63086 2.7578-0.14133 0.33564 0.19439 0.67136 0.47852 0.47852l10.703-7.2031c0.2671-0.17983 0.18878-0.63305-0.11914-0.68945l-12.342-2.2402c-0.016139-0.0033-0.032467-0.005178-0.048828-0.00586z" fill="#f2f2f2"/>
        </svg>

        <span>Luo uusi tunnus</span><%-(!onSignPage)?'</a>':'</span>'%>

        <!-- Uusi viesti -painike -->
        <%-(login!=null)?'<a id="p_viesti" href="/uusi_viesti'+((topikki != "")?"/?topic="+topikki:"")+'">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli" id="uusiviesti" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" d="m11.886 1.9601-2.0123 0.060978-2.1136-0.043925c-0.011441 0.034314-0.017053 0.076684-0.017053 0.12816 0 0.051472 0.00562 0.09794 0.017053 0.13798 0.25165 0 1.441 0.026764 1.5725 0.043925 0.097228 0.011438 0.14624 0.65472 0.14624 1.9301v1.927h-0.77515c-0.034316 0.16014-0.07107 0.29696-0.1111 0.41134 0 0.062911 0.025525 0.10631 0.076998 0.12919 0.25607-0.040432 0.52848-0.060573 0.80925-0.069246v1.4366c0 1.0009-0.034209 1.7243-0.10284 2.1704-0.011438 0.10866-0.026249 0.18882-0.043408 0.24029-0.017161 0.05148-0.051362 0.11172-0.10284 0.18035-0.085789 0.10867-1.1155 0.33128-1.4872 0.41134l-0.00878 0.06873c0 0.06863 0.014294 0.11713 0.042891 0.14573 0.38319-0.04575 1.6763-0.19689 2.2769-0.19689l1.834 0.0987c0.01148-0.03432 0.01705-0.07721 0.01705-0.12867 0-0.05148-0.0056-0.09742-0.01705-0.13746-0.35459 0-1.3509-0.08154-1.4996-0.0987-0.04003-0.0057-0.07423-0.25742-0.10284-0.75499-0.02288-0.49758-0.03411-1.0178-0.03411-1.5611v-1.8826h0.68368c0.03431-0.16014 0.07159-0.29748 0.11162-0.41186 0-0.062911-0.02605-0.1058-0.07751-0.12867-0.2283 0.036048-0.46985 0.054826-0.71779 0.065629v-1.9151c0-1.2754 0.0485-1.9187 0.14573-1.9301 0.13154-0.017158 1.2377-0.061495 1.4893-0.061495l0.01705-0.13746c0-0.051474-0.0056-0.093843-0.01705-0.12816zm-7.1825 1.373-2.1193 4.8044c-0.26881 0.60624-0.47149 0.99528-0.60875 1.1669-0.13154 0.17158-0.34342 0.29716-0.6351 0.37724l-0.017053 0.06873c0 0.057194 0.017361 0.10569 0.051676 0.14573 0.26881-0.045753 0.5833-0.06873 0.94361-0.06873l0.90899 0.025839c0.011438-0.034315 0.01757-0.077201 0.01757-0.12867 0-0.051475-0.00613-0.097426-0.01757-0.13746-0.26881 0-0.46894-0.00253-0.60048-0.00827 0-0.2974 0.14295-0.8008 0.42891-1.51l0.21446-0.5488 1.2268-0.025838c0.42894 0 0.79807 0.00868 1.1069 0.025838l0.50591 1.2867c0.08007 0.24021 0.12041 0.4 0.12041 0.48007 0 0.08007-0.045951 0.15461-0.13746 0.22324-0.085789 0.062912-0.23997 0.12009-0.46302 0.17157l-0.017053 0.06873c0 0.051474 0.016844 0.099974 0.05116 0.14573 0.326-0.045753 0.70635-0.06873 1.141-0.06873l1.0036 0.025839c0.017158-0.034315 0.025838-0.077201 0.025838-0.12867 0-0.051475-0.00868-0.097426-0.025838-0.13746-0.13726 0-0.28583-0.00816-0.44597-0.025321-0.040035-0.057194-0.13449-0.24048-0.28319-0.54932-0.14298-0.31456-0.2313-0.52592-0.26562-0.63459l-1.9735-5.0447zm-0.20619 1.2356 0.99529 2.6252c-0.2688 0.017158-0.60066 0.025838-0.99529 0.025838l-1.0981-0.034623z" fill="#f2f2f2"/>
        </svg>

        <span><%= (topikki=="")?"Aloita uusi keskustelu":"Jatka keskustelua" %></span><%-(login!=null)?'</a>':'</span>'%>
        
        <!-- Omat viestit -painike -->
         <%-(login!=null)?'<a id="p_omat" href="/omat_viestit">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli" id="viestit" width="50" height="50" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" d="m488 111.687h-56v-24a8 8 0 0 0 -8-8h-187.056l-13.789-27.575a8 8 0 0 0 -7.155-4.422h-112a8 8 0 0 0 -7.155 4.421l-13.789 27.573h-59.056a8 8 0 0 0 -8 8v336a40.046 40.046 0 0 0 40 40h400a40.046 40.046 0 0 0 40-40v-304a8 8 0 0 0 -8-7.997zm-456 312v-328h56a8 8 0 0 0 7.155-4.422l13.789-27.575h102.112l13.789 27.575a8 8 0 0 0 7.155 4.422h184v16h-192a8 8 0 0 0 -7.589 5.47l-3.51 10.53h-156.901a8 8 0 0 0 -8 8v310.623a24.038 24.038 0 0 1 -16-22.623zm48-256v256a24.038 24.038 0 0 1 -16 22.623v-302.623h143.568l-5.334 16h-114.234a8 8 0 0 0 -8 8.002zm400 256a24.027 24.027 0 0 1 -24 24h-368.019a39.794 39.794 0 0 0 8.019-24v-248h112a8 8 0 0 0 7.589-5.47l14.177-42.532h250.234z" fill="#f2f2f2"/>
        </svg>
        <span>Omat viestit</span><%-(login!=null)?'</a>':'</span>'%>
        
        <!-- Uusin vai vanhin ensin painike -->
        <%-(p_uusin)?'<a id="p_uusin" href="'+url+'h_uusin='+(!h_uusin)+'"':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <!-- UUsin ylinnä symboli --> 
        <svg class="symboli <%-(h_uusin)?"hidden":''%>" id="uusin_ylinna" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m4.9961 5v24.123h40.023v-0.99609-23.127h-40.023zm21.432 6.0625 0.22461 0.23047c-0.6185 1.3966-1.0216 2.9559-1.209 4.6777l3.7949-2.2383c0.50604 0.68872 0.95602 1.1861 1.3496 1.4922l-0.083985 0.31445c-1.7055 0.21044-3.2431 0.63235-4.6113 1.2637l3.7969 2.2949c-0.31862 0.68872-0.53403 1.3288-0.64648 1.9219l-0.25391 0.058594c-0.9746-1.3392-2.09-2.497-3.3457-3.4727v4.4766c-0.76843 0.09566-1.4061 0.24854-1.9121 0.45898l-0.22461-0.22852c0.56227-1.2818 0.97394-2.8513 1.2363-4.707l-3.8223 2.1816c-0.44981-0.65045-0.88064-1.1478-1.293-1.4922 0-0.13392 0.019163-0.23988 0.056641-0.31641 1.4806-0.13392 2.9971-0.51712 4.5527-1.1484l-3.7656-2.209c0.24365-0.59306 0.42935-1.2332 0.56055-1.9219l0.31055-0.11524c0.91837 1.3009 2.0423 2.4384 3.373 3.4141v-4.4766c0.76843-0.095648 1.4061-0.24854 1.9121-0.45898zm-21.428 20.898v2.4551h0.99805 17.855v-1.2285h1.9941v1.2285h18.174 0.99609v-2.4551h-0.99609-38.023-0.99805zm0 5.293v2.4551h0.99805 14.814l-0.88477-1.5312h3.9258v-0.92383h-17.855-0.99805zm20.848 0v0.92383h3.9258l-0.88477 1.5312h15.133 0.99609v-2.4551h-0.99609-18.174zm-20.848 5.291v2.4551h0.99805 17.871l-1.418-2.4551h-16.453-0.99805zm22.252 0-1.416 2.4551h18.186 0.99609v-2.4551h-0.99609-16.77z" color="#000000" color-rendering="auto" dominant-baseline="auto" fill="#f2f2f2" image-rendering="auto" shape-rendering="auto" solid-color="#000000" stop-color="#000000" />
            <path id="kuvio2" d="m2.0402 1.9725 3.3822 1.727c0.035502-0.1085 0.066663-0.22016 0.0894-0.33951l0.082166-0.030489c0.24299 0.3442 0.54037 0.64516 0.89245 0.9033v-1.1844c0.20331-0.025307 0.37202-0.065761 0.50591-0.12144l0.059428 0.060978c-0.16364 0.36951-0.27029 0.78209-0.31988 1.2377l1.0041-0.59221c0.034858 0.047442 0.06586 0.081893 0.098702 0.12247l3.4923-1.7834z" color="#000000" color-rendering="auto" dominant-baseline="auto" fill="#d7d7d9" image-rendering="auto" shape-rendering="auto" solid-color="#000000" stop-color="#000000"/>
        </svg>

        <!-- Vanhin ylinnä -->
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli <%-(!h_uusin)?"hidden":''%>" id="uusin_alinna" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g>
                <path id="kuvio" transform="scale(.26458)" d="m5 5v2.4551h0.99805 17.855v-1.2285h1.9941v1.2285h18.174 0.99609v-2.4551h-0.99609-38.023-0.99805zm0 5.293v2.4551h0.99805 14.814l-0.88477-1.5312h3.9258v-0.92383h-17.855-0.99805zm20.848 0v0.92383h3.9258l-0.88477 1.5312h15.133 0.99609v-2.4551h-0.99609-18.174zm-20.848 5.291v2.4551h0.99805 17.871l-1.418-2.4551h-16.453-0.99805zm22.252 0-1.416 2.4551h18.186 0.99609v-2.4551h-0.99609-16.77zm-22.256 5.293v24.123h40.023v-0.99609-23.127h-40.023zm21.432 6.0625 0.22461 0.23047c-0.6185 1.3966-1.0216 2.9559-1.209 4.6777l3.7949-2.2383c0.50604 0.68872 0.95602 1.1861 1.3496 1.4922l-0.083985 0.31445c-1.7055 0.21044-3.2431 0.63235-4.6113 1.2637l3.7969 2.2949c-0.31862 0.68872-0.53403 1.3288-0.64648 1.9219l-0.25391 0.058594c-0.9746-1.3392-2.09-2.497-3.3457-3.4727v4.4766c-0.76843 0.095655-1.4061 0.24854-1.9121 0.45898l-0.22461-0.22852c0.56227-1.2818 0.97394-2.8513 1.2363-4.707l-3.8223 2.1816c-0.44981-0.65045-0.88064-1.1478-1.293-1.4922 0-0.13392 0.019156-0.23988 0.056641-0.31641 1.4806-0.13392 2.9971-0.51712 4.5527-1.1484l-3.7656-2.209c0.24365-0.59306 0.42935-1.2332 0.56055-1.9219l0.31055-0.11523c0.91837 1.3009 2.0423 2.4384 3.373 3.4141v-4.4766c0.76843-0.095655 1.4061-0.24854 1.9121-0.45898z" fill="#f2f2f2"/>
                <path id="kuvio2" transform="scale(.26458)" d="m7.7109 23.332 12.783 6.5273c0.13418-0.41007 0.25196-0.83209 0.33789-1.2832l0.31055-0.11523c0.91837 1.3009 2.0423 2.4384 3.373 3.4141v-4.4766c0.76843-0.095655 1.4061-0.24854 1.9121-0.45898l0.22461 0.23047c-0.6185 1.3966-1.0216 2.9559-1.209 4.6777l3.7949-2.2383c0.13175 0.17931 0.24892 0.30952 0.37305 0.46289l13.199-6.7402h-35.1z" color="#000000" color-rendering="auto" dominant-baseline="auto" fill="#d7d7d9" image-rendering="auto" shape-rendering="auto" solid-color="#000000" stop-color="#000000" />
            </g>
        </svg>

        <span id="ensin_teksti"><%- (h_uusin)?"Vanhin":"Uusin" %> viesti ensin</span><%-(p_uusin)?'</a>':'</span>'%>

        <!-- Tiivistyspainike -->
        <%-(p_tiivis)?'<a id="p_tiivis" href="'+url+'h_tiivis='+(!h_tiivis)+'"':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli <%-(h_tiivis)?"hidden":""%>" id="laajenna" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m4.998 4.998v2h1.0039 37.809 1.0059v-2h-1.0059-37.809-1.0039zm12.441 2.2266-5.0117 11.148c-0.63587 1.4068-1.1167 2.3089-1.4414 2.707-0.31117 0.39814-0.81196 0.69116-1.502 0.87695l-0.041016 0.1582c0 0.13271 0.041872 0.24499 0.12305 0.33789 0.63587-0.10617 1.3781-0.1582 2.2305-0.1582l2.1523 0.058594c0.027058-0.079628 0.041015-0.17743 0.041015-0.29688s-0.013957-0.22546-0.041015-0.31836c-0.63587 0-1.1088-0.008213-1.4199-0.021484 0-0.6901 0.33721-1.8583 1.0137-3.5039l0.50781-1.2734 2.9023-0.058594c1.0147 0 1.8866 0.01878 2.6172 0.058594l1.1973 2.9863c0.18941 0.55739 0.2832 0.92944 0.2832 1.1152 0 0.1858-0.10775 0.35832-0.32422 0.51758-0.20294 0.14598-0.56806 0.279-1.0957 0.39844l-0.041015 0.1582c0 0.11944 0.041872 0.23172 0.12305 0.33789 0.77116-0.10617 1.671-0.1582 2.6992-0.1582l2.373 0.058594c0.040588-0.079628 0.060547-0.17743 0.060547-0.29688s-0.019959-0.22546-0.060547-0.31836c-0.3247 0-0.67587-0.020733-1.0547-0.060547-0.094705-0.13271-0.31816-0.55679-0.66992-1.2734-0.33823-0.72992-0.54773-1.2225-0.62891-1.4746l-4.668-11.705h-0.32422zm17.314 0.12109-0.45703 0.79688-4.4668 7.7207h3.9277v18.271h-3.9277l4.9238 8.5254 0.46484-0.80469 4.459-7.7207h-3.9199v-18.271h3.9199l-4.9238-8.5176zm-17.801 2.7461 2.3535 6.0918c-0.63587 0.039813-1.42 0.058594-2.3535 0.058594l-2.5977-0.078126 2.5977-6.0723zm-6.373 18.131c-0.027058 0.079628-0.041016 0.17939-0.041016 0.29883s0.013958 0.22546 0.041016 0.31836c0.63587 0 1.0828 0.033253 1.3398 0.099609 0.24352 0.079627 0.36523 2.3017 0.36523 6.668 0 2.0836-0.08179 3.7298-0.24414 4.9375-0.054117 0.39814-0.16787 0.73067-0.34375 0.99609-0.21647 0.33178-0.67734 0.57707-1.3809 0.73633l-0.019531 0.1582c0 0.14598 0.033917 0.26022 0.10156 0.33984 0.8794-0.10617 2.7988-0.16016 5.7617-0.16016 1.6235 0 2.9763-0.34505 4.0586-1.0352 1.0959-0.6901 1.6445-1.6462 1.6445-2.8672 0-1.0484-0.31125-1.8966-0.93359-2.5469-0.60881-0.65029-1.4668-1.0744-2.5762-1.2734 0.63587-0.15926 1.2504-0.53756 1.8457-1.1348 0.59528-0.5972 0.89258-1.3288 0.89258-2.1914 0-1.075-0.39904-1.8899-1.1973-2.4473-0.78469-0.55739-1.8202-0.83594-3.1055-0.83594h-3.125l-3.084-0.060547zm5.6426 0.75586c0.93351 0 1.6837 0.24724 2.252 0.73828 0.56823 0.47776 0.85156 1.1741 0.85156 2.0898 0 1.8447-1.0814 2.7656-3.2461 2.7656h-0.58789l-0.12305 0.39844c0 0.13271 0.041871 0.24694 0.12305 0.33984h0.85156c1.0823 0 1.9622 0.34505 2.6387 1.0352s1.0137 1.559 1.0137 2.6074c0 1.0352-0.34517 1.7836-1.0352 2.248-0.67646 0.46449-1.71 0.69727-3.1035 0.69727-0.6494 0-1.218-0.026994-1.7051-0.080079-0.081175-0.50431-0.12305-1.3795-0.12305-2.627v-3.9805c0-3.4638 0.08179-5.5153 0.24414-6.1523 0.37882-0.053085 1.0292-0.080078 1.9492-0.080078zm-11.033 14.021v2h0.99609 37.818 0.99609v-2h-0.99609-37.818-0.99609z" fill="#f2f2f2"/>
        </svg>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli <%-(!h_tiivis)?"hidden":""%>" id="tiivista" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" transform="scale(.26458)" d="m5 5v2.0371h40v-2.0371h-38.982zm11.562 2.3438-6.4707 14.67c-0.82084 1.8513-1.4402 3.0386-1.8594 3.5625-0.40169 0.52394-1.0488 0.90784-1.9395 1.1523l-0.052734 0.21094c0 0.17465 0.053418 0.32306 0.1582 0.44531 0.82084-0.13972 1.7806-0.21094 2.8809-0.21094l2.7773 0.08008c0.03495-0.10479 0.05273-0.23735 0.05273-0.39453s-0.01778-0.29572-0.05273-0.41797c-0.82084 0-1.4323-0.0099-1.834-0.02734 0-0.90816 0.43731-2.4438 1.3105-4.6094l0.6543-1.6777 3.7461-0.07813c1.3099 0 2.4358 0.02573 3.3789 0.07813l1.5469 3.9297c0.2445 0.73352 0.36523 1.2223 0.36523 1.4668 0 0.24451-0.13854 0.47206-0.41797 0.68164-0.26197 0.19211-0.73294 0.36626-1.4141 0.52344l-0.05273 0.21094c0 0.15718 0.05147 0.3056 0.15625 0.44531 0.99549-0.13972 2.1571-0.21094 3.4844-0.21094l3.0645 0.08008c0.05238-0.10479 0.08008-0.23735 0.08008-0.39453s-0.0277-0.29572-0.08008-0.41797c-0.41915 0-0.87232-0.02768-1.3613-0.08008-0.12226-0.17465-0.41115-0.73269-0.86524-1.6758-0.43661-0.96056-0.70772-1.6076-0.8125-1.9395l-6.0234-15.402zm-0.62891 3.7715 3.0391 8.0176c-0.82084 0.0524-1.834 0.07813-3.0391 0.07813l-3.3535-0.10547zm17.889 22.777-2.6641 6.043c-0.33814 0.76262-0.59491 1.2529-0.76758 1.4688-0.16548 0.21584-0.43191 0.37389-0.79883 0.47461l-0.02148 0.08594c1e-6 0.07195 0.02129 0.13323 0.06445 0.18359 0.33814-0.05756 0.73424-0.08594 1.1875-0.08594l1.1445 0.03125c0.01441-0.04317 0.02148-0.09736 0.02148-0.16211 0-0.06475-0.0071-0.12152-0.02148-0.17188-0.33814 0-0.59038-0.0045-0.75586-0.01172 0-0.37412 0.17933-1.0063 0.53906-1.8984l0.27148-0.69141 1.543-0.03125c0.53959 0 1.0021 0.0097 1.3906 0.03125l0.63672 1.6191c0.10073 0.30217 0.15234 0.50279 0.15234 0.60352 0 0.10072-0.05871 0.19492-0.17383 0.28125-0.10792 0.07914-0.30145 0.15205-0.58203 0.2168l-0.02148 0.08594c0 0.06475 0.02129 0.12604 0.06445 0.18359 0.41009-0.05756 0.88876-0.08594 1.4355-0.08594l1.2617 0.03125h2e-3c0.02155-0.04317 0.03125-0.09736 0.03125-0.16211 0-0.06475-0.0097-0.12152-0.03125-0.17188-0.17267 0-0.36105-0.01162-0.5625-0.0332-0.05036-0.07194-0.16841-0.30095-0.35547-0.68945-0.17986-0.3957-0.29082-0.66213-0.33398-0.79883l-2.4825-6.3457zm-26.115 1.084c-0.034951 0.10479-0.052734 0.2354-0.052734 0.39258 0 0.15718 0.017783 0.29572 0.052734 0.41797 0.82084 0 1.3986 0.04354 1.7305 0.13086 0.27929 0.0931 0.42587 2.5442 0.45703 7.0898h-4.8887v1.9922h39.986v-1.9922h-25.746c0.29613-0.21393 0.59017-0.4547 0.87891-0.75 0.76844-0.78591 1.1523-1.7457 1.1523-2.8809 0-1.4146-0.5145-2.4891-1.5449-3.2227-1.0129-0.73352-2.3487-1.0996-4.0078-1.0996h-4.0352zm25.857 0.46875 1.252 3.3027c-0.33814 0.02158-0.75553 0.0332-1.252 0.0332l-1.3828-0.04297zm-18.574 0.52539c1.2051 0 2.1747 0.32256 2.9082 0.96875 0.73351 0.62873 1.0996 1.5469 1.0996 2.752 0 1.717-0.71339 2.8138-2.1113 3.3164h-4.709c0.01999-3.7167 0.10968-6.1829 0.29688-6.9316 0.48901-0.06986 1.328-0.10547 2.5156-0.10547zm24.348 4.752c-0.35253 0.16548-0.65444 0.39386-0.90625 0.68164 0.15828 0.34534 0.38019 0.63563 0.66797 0.87305 0.15109-0.06475 0.31623-0.16151 0.49609-0.29102 0.17986-0.1367 0.30953-0.25927 0.38867-0.36719-0.1295-0.33095-0.34431-0.63029-0.64648-0.89648zm2.5039 0c-0.35253 0.16548-0.65444 0.39386-0.90625 0.68164 0.15828 0.34534 0.38018 0.63563 0.66797 0.87305 0.15109-0.06475 0.31623-0.16151 0.49609-0.29102 0.17986-0.1367 0.30953-0.25927 0.38867-0.36719-0.1295-0.33095-0.34431-0.63029-0.64648-0.89648zm2.5039 0c-0.35253 0.16548-0.6564 0.39386-0.9082 0.68164 0.15828 0.34534 0.38214 0.63563 0.66992 0.87305 0.15109-0.06475 0.31623-0.16151 0.49609-0.29102 0.17987-0.1367 0.30954-0.25927 0.38867-0.36719-0.1295-0.33095-0.34431-0.63029-0.64648-0.89648z" fill="#f2f2f2"/>
        </svg>

        <span id="tiivis_teksti"><%-(h_tiivis)?"Tiivistä":"Laajenna"%> viestit</span><%-(p_tiivis)?'</a>':'</span>'%>

        <!-- Tietoa ruotijoista -painike -->
        <%-(p_tietoa)?'<a id="p_tietoa" href="/tietoa">':'<span>'%>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="symboli" id="tietoa" width="50" height="50" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <metadata>
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                        <dc:title/>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <path id="kuvio" d="m8.2284 11.837-1.2467-0.04156q-0.96968 0-1.8285 0.11082-0.083115-0.11082-0.083115-0.23549l0.027705-0.11082q0.59566-0.13852 0.80344-0.42943 0.15238-0.22164 0.23549-0.5264 0.083115-0.31861 0.083115-1.8008v-1.3298q0-0.85886-0.083115-1.1913-0.069262-0.33246-0.22164-0.44328-0.15238-0.11082-0.40172-0.13852l-0.51254-0.041554q-0.041557-0.05541-0.041557-0.18008l0.041557-0.18008q0.72033-0.15238 1.1636-0.30476 0.45713-0.16623 1.0666-0.47098 0.15238 0 0.20779 0.16623-0.16623 0.94197-0.16623 4.4882 0 0.63722 0.041557 1.413 0.05541 0.76189 0.13852 0.77574 0.20779 0.04156 0.77574 0.04156 0.041557 0.09697 0.041557 0.22164 0 0.12467-0.041557 0.20779zm-1.3021-8.8933q-0.49869-0.34631-0.70648-0.91426 0.16623-0.19394 0.44328-0.40172 0.2909-0.22164 0.49869-0.30476 0.5264 0.38787 0.67877 0.92812-0.38787 0.49869-0.91426 0.69262z" fill="#f2f2f2"/>
        </svg>

        <span>Tietoa ruotijoista</span><%-(p_tietoa)?'</a>':'</span>'%>

    </div>
</div>