<!DOCTYPE html>
<html lang="<% dict.getCurrentLocale().language %>">
    <head>
        <% include head %>
    </head>
    <body class="container-fluid">
        <% include header %>
        <% include hallinta %>

        <main class="flex flex-column">
            <nav class="serif row"><% dict.translate("common.aiheet")  %> 
            </nav>
            <section class="serif">
                <div class="row">
                    <span class="col-sm-8"><% dict.translate("index.otsikko")  %></span>
                    <span  class="col-sm-1"><% dict.translate("index.lkm")  %></span>
                    <span  class="col-sm-3"><% dict.translate("index.uusinKirjoittaja")  %></span>
                </div>
            </section>
            <section>
                <% for(var i=0; i < messages.length; i++) { %>
                <a href="/keskustelu_aiheesta/?id=<%= messages[i].uusin %>" class="row o_linkki">
                    <b class="col-sm-8"><%= messages[i].topic %></b>
                    <span class="col-sm-1"><%= messages[i].lukum %></span>
                    <span class="col-sm-3"><%= messages[i].sender %></span>
            
                </a>
                
                <%- (i< messages.length-1)?'<hr class="otsikoidenValit">':''; %>
                <% } %>
            </section>
        </main>

        <% include footer %>
    </body>
</html>
