<!DOCTYPE html>
<html lang="<%- dict.getCurrentLocale().language %>">
  <head>
    <% include head %>
  </head>
  <body class="container-fluid">
      <% include header %>
        <% include header %>
        <% include hallinta %>
    
    <main class="flex justify-content-center flex-column">
        <nav class="serif">
            <a href="/<%=addToUrl%>"><%=dict.translate("common.aiheet") %></a> > <span id="alku"><%= title %></span>
        </nav>
        <%- dict.translate("tietoa.sisalto") %>
    </main>
        <% include footer %>
  </body>
</html>
